{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Borrowed Books{% endblock %}
{% block body %}
<div class="content-section">
    <div class="outer">
        <div class="middle">
            <div class="inner">
                <br/>
                {{ utils.flashed_messages() }}
                <br/>
                <h1 style="text-align:center;">Borrowed Books</h1>
                <div class="center" style="text-align: center;">
                    {{ wtf.quick_form(form, form_type="inline") }}
                    <br/>
                    {% if show_results %}
                    <div style="overflow: auto; height: 45vh; text-align: center">
                        <table class="table">
                            <thead>
                            <tr>
                                <th class="text-center" width="20%"> ISBN </th>
                                <th class="text-center" width="50%"> Title</th>
                                <th class="text-center" width="15%"> Genre</th>
                                <th class="text-center" width="15%"> Return</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for book in books %}
                            <tr>
                                <td> {{ book.isbn }} </td>
                                <td> {{ book.title }} </a></td>
                                <td> {{ book.genre }} </td>
                                <td> <a href="{{ url_for('user.return_book', id=book.id) }}">
                                    <i class="fa fa-recycle"></i> Return
                                </a>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}
                        <br/><br/>
                        <a href="{{ url_for('user.dashboard') }}" class="btn btn-default btn-lg">
                            <i class="fa fa-search"></i>
                            Search for Books
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}