{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<section id="hero">
    <div class="hero-container">
        <h1>Welcome to Athenaeum</h1>
        <h3>Borrow, lend or exchange books with other readers.</h3>
        <hr class="intro-divider">
        <h4>Join our community today.</h4>

        <div class="btn-group" role="group">
            <a href="{{ url_for('auth.register') }}" class="btn-get-started">
                Register
            </a>
            <a href="{{ url_for('auth.login') }}" class="btn-get-started">
                Login
            </a>
        </div>
    </div>
</section>
<section id="facts">
    <div class="container wow fadeIn">
        <div class="section-header">
            <h3 class="section-title">Check the Stats</h3>
            <p class="section-description">We are the fastest growing community of readers.</p>
        </div>
        <div class="row counters">

            <div class="col-lg-4 text-center">
                <span data-toggle="counter-up">{{ users }}</span>
                <p>Members</p>
            </div>

            <div class="col-lg-4 text-center">
                <span data-toggle="counter-up">{{ books }}</span>
                <p>Books</p>
            </div>

            <div class="col-lg-4 text-center">
                <span data-toggle="counter-up">{{ borrowed_books }}</span>
                <p>Borrowed Books</p>
            </div>
        </div>

    </div>
</section>
{% endblock %}